<section class="joinnow">
  <div class="login col-lg-3 m-auto shadow-lg">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Why you want to hire me?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
      </div>
      <button type="submit" class="btn btn-primary col-lg-12">Hire me</button>
    </form>
  </div>
</section>
