
<section class="about container">
  <h1 class="text-center my-5">About</h1>
  <p>
    Hi! My Name is Edgars Zeniņš I joined edibo bootcamp on 6/09/2021 At the beginning of the course we where starting off getting familiar with concepts. Our first task was learning and understaning binary code. In second day we where learning algorithms and explored Google Colab and GitHub. Familiarized ourselves with ASCII table (Converted our name into ASCII decimal system) and Bubble Sorting method. At the end of the day we made a video presentation about our First Day inside Edibo Bootcamp(If you are curiose you can find it on Youtube - What did I learn in one single day spent in Edibo BootCamp? (My It Journey - channel)).
  </p>
  <p>
    Then we moved to Module1 which consisted of back-end language Python. We learned basics - Variables, Data types, Functions, Lists, Imports, Loops etc. Watched multiple tutorials such as - How to think as a programmer, how to behave like a programmer, how to write clean code, art of problem solving. Got introduced to replit.com, hackerrank.com, threading in python, cheat sheets, Flask. At the end of day 3 made another Youtube video. Then we learned PyCharm, installed pygame module and I made a working game called PONG. Afterwards installed png module and created our logo in pycharm and attended to LATA and Oracle seminar. Created a minspace diagram with whimsical, and at the end of Module1 we learned GIT.
  </p>
  <p>
    Module2 began with HTML/CSS started to learn them as well as made our own project which was a CV page in local host. Then we jumped right into JavaScript started with basics and lecturer gave us tasks to give us some experience how to use these three languages combined. Learned about JavaScript promises and CRUD got introduced to API's such as Insomnia and Restdb.io. Afterwards moved to Frameworks I tried three of them which where - React, VueJS and Angular. I chose to do a project in angular and ever since then I knew that I will explore it more after Edibo (Like now I'm making this project in Angular).
  </p>
  <p>
    Module3 began with introductions about databases. First we started learning SQLite chinook database we had couple of tasks like making a diagram from given tables. Then we explored MySQL Workbench we had to transfer data from SQLite to MySQL. Made Procedures and then we started working on API-FLask project which you can check out in my GitHub.
  </p>
  <div class="follow text-center">
    <h4 class="my-5">Follow Me</h4>
    <a href="https://www.youtube.com/channel/UCHGoe3LR0Z46u9WQpkeLD2w">Youtube</a>
    <a href="https://github.com/EdgarsZee?tab=repositories">GitHub</a>
    <a href="#">Linkedin</a>
  </div>
</section>
