
    <section class="experience container">

    <div class="sometext text-center my-5">

    <div>
    <h2 class="text-center my-5">Python</h2>
      <img class = "img" src="../../assets/PYTHON.png">
      <br>
        <p>Python is a back-end language. At the beggining I started off learning with basics- variables, statements, Built-in types, Built-in functions, loops, libraries such as- Turtle, PNG, Math, NumPy, Pygame. Little bit more advanced topics like Flask(Micro web framework written in Python) and Sockets. </p>
    </div>
    <br>
      <h2 class="text-center my-5">HTML/CSS</h2>
        <img class = "img" src="../../assets/html_css3.jpg">
        <br>
        <p>HTML/CSS are front-end languages. At the very first day we started learning basics in HTML such as - formatting code, validating web pages, meta element, Entities(display's special characters &copy ;, &nbsp ;), hyperlinks, DOM, how to use text and images. We had a task which was make your CV using these two languages and of course when I was making project I learned so much so fast. There you could see mistakes or errors instantly in browser which helped alot. </p>
      <br>
      <h2 class="text-center my-5">JavaScript</h2>
        <img class = "img" src="../../assets/js3.png">
        <br>
        <p>Then we combined HTML/CSS with JavaScript (which allowed me to make my cv page more interactive). JavaScript is one of the most popular programming languages so I learned slowly but more throughout. We did couple of projects as a group (example- Mario Collecting Coins and similar game to flappy bird.). Learned promises, how to make CRUD operation. </p>
      <br>
      <h2 class="text-center my-4">MySQL</h2>
        <img class = "img" src="../../assets/mysql1.png">
        <br>
        <p>Last language was MySQL it is a database management system. Learned how to forward engineer and backward engineer made diagrams, as well as procedures. Then we used chinook database to create a project connecting database to flask and how to use these procedures.  </p>






    </div>
  </section>
